{% extends 'base.html.twig' %}

{% block content %}

    <form method="post">

        <label for="email">{{ 'user.email' | trans }}</label>
        <input type="email" id="email" name="email" value="{{ username }}" autocomplete="email" required autofocus>

        <label for="password">{{ 'user.password' | trans }}</label>
        <input type="password" id="password" name="password" autocomplete="current-password" required>

        <label><input type="checkbox" name="_remember_me">{{ 'security.remember_me' | trans }}</label>

        <a href="{{ path('oauth2_azure')  }}">Azure</a>
        <a href="{{ path('oauth2_github') }}">GitHub</a>
        <a href="{{ path('oauth2_google') }}">Google</a>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button type="submit">{{ 'security.login' | trans }}</button>

    </form>

{% endblock %}

{% block scripts %}

    <script>
        {% if error %}
            alert({{ error.messageKey | trans(error.messageData, 'security') | serialize | raw }});
        {% endif %}
    </script>

{% endblock %}
